body{
    background-image: url("images/bg.jpg");
    background-size: cover;
}

header{
    margin-top: 70px;
    text-align: center;
    
}

header .jumbotron{
    background-color: rgba(184, 184, 184, 0.4);
    height: 80px;
    
}

p{
    position: absolute;
    background-color: rgba(132, 140, 245, 0.4);
    text-align: center;
    width: 250px;
    font-size: 50px;
    margin-left: 650px;
}

.container-graph{
    position: absolute;
    text-align:  center;
    margin-right: 100px;
    margin-top: 100px;
    width: 400px;
    height: 500px;
    
}

.graph{
    margin-right: 100px;
    margin-top: 1px;
    width: 400px;
    height: 500px;
    
}

.container-graph-info{
    background-color: rgba(184, 184, 184, 0.4);
    position: absolute;
    display: inline-block;
    text-align:  center;
    margin-left: 950px;
    margin-top: 90px;
    width: 400px;
    height: 520px;
}

.graph-time-info{
    margin-top: 25px;
}

.graph-cost-info{
    margin-top: 100px;
}


#time-label{
    font-size: 60px;
}

#cost-label{
    font-size: 60px;
}

#cost-of-graph{
    margin-top: 25px;
}

#time-of-graph{
    margin-top: 25px;
}

.button-container{
    position: absolute;
    margin-left: 200px;
    margin-top: 30px;
}
.button-container .sec-button{
    display: inline-block;
    margin-right: 20px;
}

.button-container .min-button{
    display: inline-block;
    margin-right: 20px;
}

.button-container .hour-button{
    display: inline-block;
}