/* .navbar-nav .nav-item{
    padding-right: 10px
} */

body{
    background-image: url("images/bg.jpg");
    background-size: cover;
}

header{
    padding-top: 70px;
    text-align: center;
    
}

header .jumbotron{
    background-color: rgba(184, 184, 184, 0.664);
    height: 80px;
    
}