body{
    background-image: url("images/bg.jpg");
    background-size: cover;
}

header{
    margin-top: 70px;
    text-align: center;
    
}

header .jumbotron{
    background-color: rgba(184, 184, 184, 0.4);
    height: 80px;
    
}

.container{
    text-align: center;
}
.container-info{
    display: inline-block;
    text-align:  center;
    margin-right: 300px;
    width: 200px;
    height: 300px;
    
}


.container-graph{
    display: inline-block;
    text-align:  center;
    width: 400px;
    height: 500px;
    
}